
QMainWindow{
    background-color: #d7eff6;
}

QTabWidget {
    background-color: none;
}

QMenuBar {
    background-color: whitesmoke;
}

QLineEdit{
    background-color:rgb(229, 255, 255);
}

QPushButton {
    background-color: #0ea2ae;
    font-weight: bold;
    color: white;
    border-radius: 5px;
}

QPushButton:hover {
    background-color: #0ea2ae;
}

QPushButton:pressed {
    background-color:#0C8A94;
    transform: scale(0.95);
}